<div class="col-lg-12">
	<br>
	<%= link_to 'Cargar Archivo', read_files_url %>
	<br>
	<%= link_to 'Reportes', report_filter_url %>
	<br>
	<%= link_to 'Salir', destroy_model_session_path, method: :delete %>

</div>


